@-webkit-keyframes pannelUp {
  from {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes pannelUp {
  from {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes svgSlideUp {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@keyframes svgSlideUp {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@-webkit-keyframes inputSlide {
  from {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-left: 40px;
    scale: 1.2;
  }
  to {
    position: absolute;
    top: 50px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin-left: 10px;
    scale: 1;
  }
}

@keyframes inputSlide {
  from {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-left: 40px;
    scale: 1.2;
  }
  to {
    position: absolute;
    top: 50px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin-left: 10px;
    scale: 1;
  }
}

@-webkit-keyframes displayOn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  18% {
    opacity: 1;
  }
  23% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
  /* 89%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    } */
}

@keyframes displayOn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  18% {
    opacity: 1;
  }
  23% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
  /* 89%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    } */
}

@-webkit-keyframes latlong {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes latlong {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes windspeed {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes windspeed {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes wheatercode {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes wheatercode {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  main {
    width: 100vw !important;
    height: 100vh !important;
    max-width: 400px;
    max-height: 675px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  position: relative;
  width: 80vw;
  max-width: 400px;
  height: 80vh;
  max-height: 675px;
  overflow: hidden;
}

main .background {
  /* background-color: red; */
  background-image: url("../img/clouds-3994154_960_720.jpg");
  background-image: url("../img/star-4167939_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 35px;
  /* width: 80vw;
        max-width: 500px;
        height: 80vh; */
  height: 100%;
  padding: 25px;
  padding-top: 50px;
}

main .background .input-wrap {
  z-index: 9999;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 40px;
  scale: 1.2;
  background-color: rgba(255, 255, 255, 0.324);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px;
  padding-left: 6px;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: rgba(255, 255, 255, 0.85);
}

main .background .input-wrap:hover {
  background-color: rgba(255, 255, 255, 0.383);
}

main .background .input-wrap input {
  background-color: #ffffff00;
  color: white;
  border: none;
  border-bottom: 1px solid #d6d5d5;
  border-radius: 2px;
  padding: 2px;
  font-weight: bold;
}

main .background .input-wrap input:focus {
  /* border: none; */
  outline: none;
}

main .background .input-wrap button {
  padding: 6px;
  border-radius: 5px;
  border: none;
  border-top: 1px solid #ffffff61;
  background-color: #5c5c5cad;
  color: white;
}

main .background .input-wrap button:active {
  border: none;
  padding-top: 7px;
  background-color: #3c3c3cad;
}

main .background .display {
  opacity: 0;
  width: 100%;
  position: relative;
  margin-top: 20px;
  font-family: 'Playfair Display', serif;
  /* background-color: green; */
}

main .background .display .temp {
  font-size: 17em;
  background: -webkit-linear-gradient(#ffffff, #ffffff34);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main .background .display .temp-scale {
  font-size: 6em;
  background: -webkit-linear-gradient(#ffffff, #ffffff34);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 120px;
  font-family: 'Open Sans', sans-serif;
}

main .pannel {
  /* width: 80vw;
        max-width: 500px; */
  width: 100%;
  height: 200px;
  /* background-color: #e1e1e1; */
  background-color: #ffffff;
  border-radius: 0px 0px 35px 35px;
  position: absolute;
  bottom: 0;
  /* box-shadow: 0px -14px 7px 0px rgba(0,0,0,0.29); */
  font-family: 'Open Sans', sans-serif;
  color: #7b7b7b;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
}

main .pannel svg {
  /* background-color: green; */
  /* transform: translateY(-50%); */
  width: 100%;
}

main .pannel .pannel-content {
  border-radius: 0px 0px 35px 35px;
  padding: 5px;
  width: 100%;
  max-width: 400px;
  height: 100%;
  position: absolute;
  top: 0;
}

main .pannel .pannel-content h1 {
  text-align: center;
  font-size: 1.5rem;
}

main .pannel .icons-wrap {
  /* background-color: green; */
  width: 95%;
  height: 80%;
  margin: 0 auto;
}

main .pannel .icons-wrap .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  color: #c5c4c4;
}

main .pannel .icons-wrap .icons .icons-display {
  width: 30%;
  height: 90px;
  text-align: center;
  /* background-color: red; */
}

main .pannel .icons-wrap .icons .icons-display i {
  font-size: 2rem;
  margin-bottom: 15px;
}

main .pannel .icons-wrap .icons .icons-display img {
  width: 52px;
  height: 52px;
  margin-bottom: 15px;
}

main .pannel .icons-wrap .icons .lat-long {
  opacity: 0;
}

main .pannel .icons-wrap .icons .windspeed {
  opacity: 0;
}

main .pannel .icons-wrap .icons .weathercode {
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */